node_modules
**/node_modules
.pnpm-store
.git
.gitignore
.turbo
**/.turbo
dist
**/dist
build
**/build
.next
**/.next
out
**/out
generated
**/generated
.env
.env*.local
.env.development
.env.production
*.log
**/*.log
.DS_Store
.vscode
.idea
*.tsbuildinfo
**/*.tsbuildinfo
coverage
**/coverage
test
*.md
docker
apps/docs
apps/media-service
scripts/homelab
.github
.husky
.gemini
