# =
# BIẾN MÔI TRƯỜNG HẠ TẦNG (INFRA) - docker/infra/.env
# Áp dụng cho: PostgreSQL, Redis, RabbitMQ
# =

# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=
POSTGRES_EXTERNAL_PORT=

# Redis
REDIS_USER=
REDIS_PASSWORD=
REDIS_PORT=

# RabbitMQ
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASSWORD=
RABBITMQ_PORT=
RABBITMQ_EXTERNAL_PORT=
RABBITMQ_MGMT_PORT=
RABBITMQ_MGMT_EXTERNAL_PORT=

# Exporters (Prometheus Metrics)
POSTGRES_EXPORTER_PORT=
REDIS_EXPORTER_PORT=
