#gRPC
GRPC_USER_HOST=
GRPC_USER_PORT=
GRPC_AUTH_HOST=
GRPC_AUTH_PORT=



# Database 
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_USER=
DATABASE_LOGGING=
DATABASE_SYNC=