#postgres
DATABASE_URL=
DATABASE_USER=
DATABASE_HOST=
DATABASE_PASSWORD=
DATABASE_PORT=
DATABASE_NAME=

#gRPC server
GRPC_AUTH_HOST=
GRPC_AUTH_PORT=

#gRPC clients
USERS_GRPC_URL=

#RabbitMQ
RMQ_URL=

#redis
REDIS_USER=
REDIS_PASSWORD=
REDIS_HOST=
REDIS_PORT=

#Passport
PASSPORT_SECRET_KEY=
PASSPORT_ACCESS_TTL=
PASSPORT_REFRESH_TTL=

#Telegram 
#ví dụ TELEGRAM_REDIRECT_ORIGIN: https://tomatocinema.vn/auth/telegram
TELEGRAM_BOT_ID=
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=
TELEGRAM_REDIRECT_ORIGIN=