#  BIẾN MÔI TRƯỜNG OBSERVABILITY

# Grafana Admin Credentials
GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=

# External Ports
GRAFANA_PORT=
PROMETHEUS_PORT=
TEMPO_PORT=
LOKI_PORT=
OTEL_GRPC_PORT=
OTEL_HTTP_PORT=
OTEL_METRICS_PORT=
